<div class="recipe">
  <div class="photos">
    <% if @recipe.photo.present? %>
      <%= cl_image_tag @recipe.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://source.unsplash.com/random/350x253/?food" alt="image card">
    <% end %>
  </div>

  <div class="infos">
    <h1><%= @recipe.title %></h1>

    <ul>
      <li><i class="fa-solid fa-clock"></i></i> <%= @recipe.duration %></li>
      <li><i class="fa-solid fa-chart-pie"></i> <%= @recipe.serving %> servings</li>
      <li><i class="fa-solid fa-face-smile-wink"></i> <%= @recipe.level.difficulty %></li>
    </ul>

    <p><%= @recipe.description %></p>

    <div>
      <%= link_to edit_recipe_path(@recipe) do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>

      <%= link_to recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>

  </div>
</div>


<div class="ingredients">
  <div class="ingredients-photo">
    <%= image_tag "https://res.cloudinary.com/dofre6u3x/image/upload/v1660492477/on_mange_ou_quoi/des-legumes_lhfadw.png", height: 200, width: 200, crop: :fill %>
  </div>
  <div class="ingredients-list">
    <h2>Ingredients</h2>
    <ul>
    <% @recipe.recipe_ingredients.each do |ingredient| %>
      <li><%= ingredient.ingredient.name %> - <%= ingredient.measurement.quantity %> <%= ingredient.measurement.unit %></li>
    <% end %>
  </ul>
  </div>
</div>

<div class="ustensils">
  <div class="ustensils-list">
    <h2>Ustensils</h2>
    <ul>
    <% @recipe.recipe_ustensils.each do |ustensil| %>
      <li><%= ustensil.ustensil.name %></li>
    <% end %>
  </ul>
  </div>
  <div class="ustensils-photo">
    <%= image_tag "https://res.cloudinary.com/dofre6u3x/image/upload/v1660492481/on_mange_ou_quoi/ustensiles-de-cuisine_aibfy1.png", height: 200, width: 200, crop: :fill %>
  </div>
</div>


<div class="steps">
  <div class="steps-title">
    <h2>Recipe steps</h2>
  </div>
  <div class="steps-list">
    <ol>
    <% @recipe.recipe_steps.each do |step| %>
      <li><%= step.description %></li>
    <% end %>
  </ol>
  </div>
</div>
